![New York City schoolbus](schoolbus.jpg)

Photo by [Jannis Lucas](https://unsplash.com/@jannis_lucas) on [Unsplash](https://unsplash.com).
<br>

Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a **maximum score of 800 points**. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend. 

You have been provided with a dataset called `schools.csv`, which is previewed below.

You have been tasked with answering three key questions about New York City (NYC) public school SAT performance.

In [1]:
# Re-run this cell 
import pandas as pd

# Read in the data
schools = pd.read_csv("schools.csv")

# Preview the data
schools.head()

# Start coding here...
# Add as many cells as you like...

                                         school_name  ... percent_tested
0  New Explorations into Science, Technology and ...  ...            NaN
1                               Essex Street Academy  ...           78.9
2                       Lower Manhattan Arts Academy  ...           65.1
3    High School for Dual Language and Asian Studies  ...           95.9
4      Henry Street School for International Studies  ...           59.7

[5 rows x 7 columns]

In [2]:
# Which NYC schools have the best math results?
math_schools = schools[schools["average_math"] >= 640]
print(math_schools)

best_math_schools = math_schools[["school_name","average_math"]].sort_values("average_math", ascending=False)
print(best_math_schools)

                                           school_name  ... percent_tested
0    New Explorations into Science, Technology and ...  ...            NaN
45                       Eleanor Roosevelt High School  ...           86.0
68   High School for Mathematics, Science, and Engi...  ...           92.6
88                              Stuyvesant High School  ...           97.4
93                 Staten Island Technical High School  ...           99.7
170                       Bronx High School of Science  ...           97.0
174  High School of American Studies at Lehman College  ...           91.8
280                     Brooklyn Technical High School  ...           95.5
333                        Townsend Harris High School  ...           97.1
365  Queens High School for the Sciences at York Co...  ...           97.9

[10 rows x 7 columns]
                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683
280                     Brooklyn Technical High School           682
333                        Townsend Harris High School           680
174  High School of American Studies at Lehman College           669
0    New Explorations into Science, Technology and ...           657
45                       Eleanor Roosevelt High School           641

In [3]:
# What are the top 10 performing schools based on the combined SAT scores?
schools["total_SAT"] = schools[["average_math", "average_reading", "average_writing"]].sum(axis=1)
print(schools)

top_10_schools = schools[["school_name","total_SAT"]].sort_values("total_SAT", ascending=False).head(10)
print(top_10_schools)

                                           school_name  ... total_SAT
0    New Explorations into Science, Technology and ...  ...      1859
1                                 Essex Street Academy  ...      1193
2                         Lower Manhattan Arts Academy  ...      1261
3      High School for Dual Language and Asian Studies  ...      1529
4        Henry Street School for International Studies  ...      1197
..                                                 ...  ...       ...
370  Queens High School for Information, Research, ...  ...      1086
371  Rockaway Park High School for Environmental Su...  ...      1114
372                   Channel View School for Research  ...      1280
373                    Rockaway Collegiate High School  ...      1207
374                                  Scholars' Academy  ...      1716

[375 rows x 8 columns]
                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889

In [4]:
# Which single borough has the largest standard deviation in the combined SAT score?
# My way ,a lot worse than the optimal one
std_SAT = schools.groupby("borough")["total_SAT"].agg("std").round(2)
print(std_SAT)

num_schools = schools.groupby("borough")["borough"].agg("count")
print(num_schools)

average_SAT = schools.groupby("borough")["total_SAT"].mean().round(2)
print(average_SAT)

borough_stats = pd.DataFrame({
    "num_schools": num_schools,
    "average_SAT": average_SAT,
    "std_SAT": std_SAT
})

borough_stats

largest_std_dev = borough_stats[borough_stats["std_SAT"] == borough_stats["std_SAT"].max()]
print(largest_std_dev)

borough
Bronx            150.39
Brooklyn         154.87
Manhattan        230.29
Queens           195.25
Staten Island    222.30
Name: total_SAT, dtype: float64
borough
Bronx             98
Brooklyn         109
Manhattan         89
Queens            69
Staten Island     10
Name: borough, dtype: int64
borough
Bronx            1202.72
Brooklyn         1230.26
Manhattan        1340.13
Queens           1345.48
Staten Island    1439.00
Name: total_SAT, dtype: float64
           num_schools  average_SAT  std_SAT
borough
Manhattan           89      1340.13   230.29

In [ ]:
# Which single borough has the largest standard deviation in the combined SAT score?
# optimal one
boroughs = schools.groupby("borough")["total_SAT"].agg(["count","mean","std"]).round(2)
largest_std_dev2 = boroughs[boroughs["std"] == boroughs["std"].max()]

largest_std_dev2 = largest_std_dev.rename(columns={"count":"num_schools","mean":"average_SAT","std":"std_SAT"})
print(largest_std_dev)

           num_schools  average_SAT  std_SAT
borough
Manhattan           89      1340.13   230.29